<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado productos</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>

    <!-- CSS externo -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div id="logo-container">
            <img src="https://img.magnific.com/premium-vector/simple-burger-logo-design_375081-575.jpg?w=740" alt="logo" class="logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Principal</a>
                </li>
                <li>
                    <a href="get.html">Consultar</a>
                </li>
                <li>
                    <a href="post.html">Crear</a>
                </li>
                <li>
                    <a href="put.html">Modificar</a>
                </li>
                <li>
                    <a href="delete.html">Eliminar</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Consultar producto por id</h1>

        <!-- Formulario para obtener producto por id -->
        <form id="altaProducts-form">

            <label for="categoryProd">Categoria</label>
            <select name="category" id="categoryProd" required>
                <option value="food">food</option>
                <option value="drink">drink</option>
            </select>


            <label for="imageProd">Imagen</label>
            <input type="text" name="image" id="imageProd" required>


            <label for="nameProd">Nombre</label>
            <input type="text" name="name" id="nameProd" required>


            <label for="priceProd">Precio</label>
            <input type="number" name="price" id="priceProd" required>


            <input type="submit" value="Crear producto">
        </form>


        <section id="contenedor-productos"></section>
    </main>


    <script>
        let altaProductsForm = document.getElementById("altaProducts-form");
        let contenedorProductos = document.getElementById("contenedor-productos");

        
    </script>
</body>
</html>