/* ================
    Header
================ */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

header nav {
    width: 87%;
}

.logo {
    border-radius: 5px;
}

#logo-container {
    width: 8%;
}


header ul {
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}



/* ===========
    Main
============ */
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    width: 225px;
    height: 225px;
    margin-bottom: 25px;
    justify-content: space-around;
}

.card-producto p, .card-producto h3 {
    margin: 0;
}

.card-producto img {
    width: 50%;
}


#contenedor-productos ul {
    width: 80%;
    padding-left: 0;
}


.lista-producto {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 5%;
}


.lista-producto img {
    width: 70px;
    border-radius: 5px;
}